body{
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}



article{
	padding-top: 60px;
}

.mt-20{
 	margin-top: 20px;
 }

 .c-card{
 	padding: 15px;
 	margin: 10px 0px;
 	border-radius: 4px;
 	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.24);
 }
 .c-card.c-round{
	border-radius: 20px;
 }
.c-card.c-teal{
	background-color: #039be5;
	color: #fff;
	box-shadow:1px 2px 14px 1px #039be530;
}

 .c-card.c-border{
	border: 2.4px solid #fff;
 }


 .c-card p{
 	margin-bottom: 0px;
 }


